.pagenation{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    button{
        padding: 5px 10px;
        border: 1px solid #003066;
        outline: none;
        border-radius: 5px;
        background: none;
        &:hover{
            background-color: #003066;
            color: white;
        }
    }
}