.fanlarBoyichaOquResurslarAll{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    width: 100%;
    padding: 0;
    .title{
        color: var(--Teal-100, #081A1C);
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 52.8px */
        letter-spacing: 0.2px;
        text-transform: uppercase;
    }
    .content{
        display: flex;
        column-gap: 25px;
        width: 100%;
        border: 1px solid blue;
        align-items: flex-start;
        .sidebarFan{
            width: 30%;
            border-radius: 10px;
            border: 0.5px solid #999;
            background: #FFF;
            padding: 20px 10px;
            form{
                width: 100%;
                input{
                    width: 100%;
                    height: 50px;
                    padding: 0px 10px;
                    border-radius: 12px;
                    border: 1px solid #999;
                    background: #FFF;
                    outline: none;
                }
            }
        }
        .cardsBlok{
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            column-gap: 20px;
            align-items: flex-start;
            .cardss{
                border-radius: 20px;
                border: 2px solid rgba(50, 52, 101, 0.50);
                background: #FFF;
                padding: 10px;
                width: 31.8%;
                margin-bottom: 20px;
                .imgBlok{
                    width: 100%;
                    height: 200px;
                    margin-bottom: 15px;
                    img{
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                h4{
                    margin: 0px 0px 8px;
                    color: var(--Gray-1, #333);
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 149%; /* 23.84px */
                    text-transform: uppercase;
                }
                p{
                    margin: 0;
                    color: rgba(51, 51, 51, 0.80);
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%; /* 21px */
                }
            }
        }
    }
}