.rahbariyatSlider{
    margin-bottom: 30px;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .row{
        width: 100%;
        display: flex;
        margin: 0;
        .title{
            color: var(--light-grayscale-dark-gray-1, #182026);
            font-family: Inter;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%; /* 39.6px */
            letter-spacing: 0.2px;
            margin: 0px 0px 30px 0px;
        }
        .cardss{
            width: 25%;
            display: flex;
            flex-direction: column;
            padding: 20px;
            // row-gap: 16px;
            .image{
                width: 100%;
                height: 250px;
                padding: 0px 15px;
                margin-bottom: 15px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            p{
                color: var(--Cool-Gray-60, #697077);
                text-align: center;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: lowercase;
                margin-bottom: 7px;
            }
            h4{
                color: var(--Teal-100, #081A1C);
                text-align: center;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%; /* 20.8px */
            }
        }
    }
}