.faoliyatgaOidMeyoriyHujjat{
    .hujjat{
        display: flex;
        column-gap: 50px;
        width: 100%;
        .desc{
            width: 70%;
            h1{
                color: var(--Teal-100, #081A1C);
                font-family: Inter;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%; /* 52.8px */
                letter-spacing: 0.2px;
                margin-bottom: 50px;
            }
            .row{
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                margin-bottom: 20px;
                .cards{
                    padding: 20px 0px;
                    border-top: 1px solid #D6D6D6;
                    border-bottom: 1px solid #D6D6D6;
                    display: flex;
                    justify-content: space-between;
                    .imgBlok{
                        width: 50%;
                       
                        img{
                            border-radius: 20px;
                            width: 100%;
                            // height: 100%;
                            object-fit: cover;
                        }
                    }
                    .calendar{
                        width: 10%;
                        display: flex;
                        flex-direction: column;
                        // row-gap: 5px;
                        align-items: center;
                        h1{
                            margin: 0;
                            color: #1C1F35;
                            text-align: center;
                            font-family: Rubik;
                            font-size: 40px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }
                        p{
                            margin: 0;
                            color: #666C89;
                            text-align: center;
                            font-family: Krub;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 151.523%; /* 24.244px */ 
                        }
                    }
                    .description{
                        border-left: 1px solid #ccc;
                        padding: 20px;
                        width: 40%;
                        display: flex;
                        flex-direction: column;
                        row-gap: 15px;
                        h1{
                            color: var(--light-grayscale-dark-gray-1, #182026);
                            font-family: Inter;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 22px; /* 122.222% */
                            letter-spacing: 0.2px; 
                            margin: 0;
                        }
                        p{
                            color: #666C89;
                            font-family: Krub;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 151.523%; /* 24.244px */
                            margin: 0;
                        }
                        ol{
                            margin: 0;
                            padding: 0;
                            list-style-type: disc;
                            padding-left: 18px;
                            li{
                                color: #1C1F35;
                                font-family: Krub;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 166.523%;
                            }
                        }
                    }
                }
            }
        }
        .layout{
            width: 30%;
          display: flex;
          flex-direction: column;
          row-gap: 60px;
        }
    }
}