.OTM {
    display: flex;
    column-gap: 50px;
    width: 100%;
    margin-bottom: 50px;
      .desc {
        width: 70%;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        .OTMBilanHamkorlik{
            width: 100%;
            h1 {
                color: var(--Teal-100, #081A1C);
                font-family: Inter;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%; /* 52.8px */
                letter-spacing: 0.2px;
                margin-bottom: 50px;
            }
            .imgBlok{
                width: 100%;
                height: 350px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .bizHaqimizda{
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            h1{
                margin: 0;
                display: flex;
                column-gap: 20px;
                color: var(--Teal-100, #081A1C);
                font-family: Inter;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%; /* 44px */
                letter-spacing: 0.2px;
            }
            p{
                margin: 0;
                color: #666C89;
                text-align: justify;
                font-family: Krub;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 151.523%; /* 24.244px */
            }
        }
        .otmAccardion{
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            h1{
                margin: 0;
                display: flex;
                column-gap: 20px;
                color: var(--Teal-100, #081A1C);
                font-family: Inter;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 110%; /* 44px */
                letter-spacing: 0.2px;
            }
            #accordionExample{
                width: 100%;
                ol{
                    list-style-type: disc;
                }
            }
        }
      }
      .layout {
        width: 30%;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
      }
  }
  
