.prezidentFarmoni {
    margin-top: 50px;
    margin-bottom: 100px;
    h1 {
      color: var(--light-grayscale-dark-gray-1, #182026);
      font-family: Inter;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%; /* 39.6px */
      letter-spacing: 0.2px;
      margin-bottom: 30px;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-content: flex-start;
      column-gap: 24px;
      position: relative;
      top: 0;
      left: 0;
      .col {
        display: flex;
        column-gap: 20px;
        border-radius: 12px;
        border: 1px solid var(--light-grayscale-light-gray-1, #ced9e0);
        background: var(--light-white, #fff);
        padding: 8px;
        .desc {
          width: 65%;
          padding: 0px 0px 0px 12px;
          h3 {
            color: var(--light-grayscale-dark-gray-1, #182026);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px; /* 122.222% */
            letter-spacing: 0.2px;
            margin: 0px 0px 12px 0px;
          }
          .download {
            border-radius: 8px;
            border: 1px solid #003066;
            padding: 8px 16px;
            display: flex;
            align-items: center;
            column-gap: 10px;
            margin-bottom: 20px;
            background: none;
            &:hover {
              background-color: #003066;
              color: white;
            }
          }
          p {
            margin: 0;
            display: flex;
            align-items: center;
            column-gap: 10px;
            span {
              color: var(--Cool-Gray-60, #697077);
              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
        .img {
          width: 35%;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
      .next {
        position: absolute;
        top: 40%;
        right: -22px;
        border-radius: 50%;
        width: 42px;
        background-color: #003066;
        color: white;
        padding: 12px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          background-color: #032348;
        }
      }
      .back {
        position: absolute;
        left: -22px;
        top: 40%;
        border-radius: 50%;
        width: 42px;
        background-color: #003066;
        color: white;
        padding: 12px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          background-color: #032348;
        }
      }
    }
  }